*$py.class
**/*.pyc
*.html
*.idea/*
*.iml
*.log
*.orig
*.png
*_BACKUP_*.*
*_BASE_*.*
*_LOCAL_*.*
*_REMOTE_*.*
.*project
.classpath
.DS_Store
.env
.idea
.jython_cache
.mypy_cache/
.project
.pydevproject
.settings/*
.venv*
/libspecs/
__pycache__
ext-lib
log.html
output.xml
playwright-log.txt
red.xml
report.html
Results/*
venv*
